{
	"BSC": [{
			"poolId": 1,
			"IdoFactory": "0xE1F2297616f443853664425DCb4B149f3AB8e88A",
			"avatar": "https://pbs.twimg.com/profile_images/1480638404354207751/hGCnNtNp_400x400.jpg",
			"name": "TrustFi",
			"nameKey": "TrustFi",
			"chainId": 56,
			"type": "PUBLIC INO SALE",
			"distribution": "CLAIM",
			"subName": "TrustFi - The Chosen One v2",
			"description": "Description Campaign Text",
			"about": "About Campaign Details ",
			"claimStarts": 0,
			"FundType": "BUSD",
			"CampaignPrice": 0.007,
			"launchTime": 1648648800000,
			"startTime": "2PM 03/30/2022 UTC",
			"endTime": "8PM 03/30/2022 UTC",
			"vesting": "TGE 25%, 1 month 25%, 2 month 25%, 3 month 25%, 4 month 25%.",
			"idoType": "IDO",
			"sliderBannerPic": "https://trustfi-booster-green.vercel.app/images/latest-ino-1.png",
			"sliderBannerDesc": "SliderBanner Description",
			"BannerPic": "https://trustfi-booster-green.vercel.app/images/ino-slider-img-1.jpeg",
			"pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/ENREX/enrex1.png",
			"pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/ENREX/enrex2.png",
			"pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/ENREX/enrex3.png",
			"pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/ENREX/enrex4.png",
			"pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/ENREX/enrex5.png",
			"chainName": "BSC",
			"idoOnChainName": "BSC",
			"idoOnChainLogo": "https://pbs.twimg.com/profile_images/1493575277498503170/mEoTGl9c_400x400.jpg",
			"distributedName": "SOL",
			"distributedLogo": "https://pbs.twimg.com/profile_images/1472933274209107976/6u-LQfjG_400x400.jpg",
			"website": "https://trustfi.org",
			"twitter": "https://twitter.com/trustfiorg",
			"telegram": "https://t.me/trustfi_fans"
		}

	],
	"ETH": [],
	"polygon": [],
	"time": "2022-02-22"
}