{
    "BSC": [
        {
            "poolId": 0, 
            "name": "Fight of the Ages", 
            "nameKey": "FOTA", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/fota.png", 
            "subName": "$FOTA", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.15, 
            "launchTime": 1643119200000, 
            "vesting": "10% unlocked 7 days after IDO, then weekly vesting for 12 months (airdrop method)", 
            "claimRatio": 0.66, 
            "description": "FOTA is a Triple-A MOBA Game project (based in Singapore) with a fantasy universe inhabited by many races throughout the universe. In the world of FOTA, NFT Technology is optimized so that users can feel the possibility of owning valuable digital assets during the journey.", 
            "about": "FOTA is more than just a MOBA game platform, the development team has also introduced economic mechanisms and democracies through the DAO with the vision of turning this Metaverse platform into an ever-more realistic universe through integrating Microsoft Mesh (a Microsoft Corporation branch pioneering in creating the most immersive Metaverse experience).", 
            "idoType": "Flash IDO", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/1-5.png", 
            "website": "https://fota.io/", 
            "twitter": "https://twitter.com/fightoftheages", 
            "telegram": "https://t.me/fota_channel", 
            "chainName": "BSC", 
            "startTime": "01/25/2022 UTC", 
            "endTime": "01/25/2022 UTC",
	    "idoTokenSymbol":"FOTA"
        },
        {
            "poolId": 1, 
            "name": "STMAN", 
            "nameKey": "STMAN", 
            "chainId": 56, 
            "type": "Private Sale", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-0.png", 
            "subName": "$STMAN", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.05, 
            "launchTime": 1644512400000, 
            "vesting": "At TGE: unlock 5% + Linear weekly vesting in 20 weeks (5 months)", 
            "claimRatio": 1, 
            "description": "Stickman's Battleground is an #NFTgame of survival with free-and-earn mechanism.", 
            "about": "Stickman's Battleground is an NFT Free-To-Earn (F2E) game that infuses the popular Stickman concept with the battle royale gameplay that has dominated the industry for the recent years. In addition to the anti-inflation mechanisms, the project will offer profitable staking and yield farming ecosystem.", 
            "idoType": "Flash Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-5.png", 
            "website": "https://stman.io/", 
            "twitter": "https://twitter.com/Stickman_STMAN", 
            "telegram": "https://t.me/stman_official", 
            "chainName": "BSC", 
            "startTime": "5PM 02/10/2022 UTC", 
            "endTime": "8PM 02/10/2022 UTC",
	    "idoTokenSymbol":"STMAN"
        },
        {
            "poolId": 2, 
            "name": "STMAN FCFS Sale", 
            "nameKey": " STMAN", 
            "chainId": 56, 
            "type": "Privte Sale", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-0.png", 
            "subName": "$STMAN", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.05, 
            "launchTime": 1644598800000, 
            "vesting": "At TGE: unlock 5%+Linear weekly vesting in 20 weeks (5 months)", 
            "claimRatio": 1, 
            "description": "Stickman's Battleground is an #NFTgame of survival with free-and-earn mechanism.", 
            "about": "Stickman's Battleground is an NFT Free-To-Earn (F2E) game that infuses the popular Stickman concept with the battle royale gameplay that has dominated the industry for the recent years. In addition to the anti-inflation mechanisms, the project will offer profitable staking and yield farming ecosystem.", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/2-5.png", 
            "website": "https://stman.io/", 
            "twitter": "https://twitter.com/Stickman_STMAN", 
            "telegram": "https://t.me/stman_official", 
            "chainName": "BSC", 
            "startTime": "5PM 02/11/2022 UTC", 
            "endTime": "8PM 02/11/2022 UTC",
	    "idoTokenSymbol":"STMAN"
        },
	{
            "poolId": 3, 
            "name": "Metaverse Lab", 
            "nameKey": "MVP", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/metaverselab-IDO-img.png", 
            "subName": "$MVP", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.016, 
            "launchTime": 1644771600000, 
            "vesting": "15% at TGE, 20% monthly vesting (5% on last vesting)", 
            "claimRatio": 9.375, 
            "description": "Metaverse Lab is World’s First All-in-One Metaverse Launchpad: Deflationary, Reflective, Multi-chain & Multi-asset Launchpad for the most professional Metaverse based projects.", 
            "about": "Designed to be a One-Stop Launchpad for the top quality Metaverse projects, Metaverse Lab Launchpad’s domain of future projects include NFT, Gaming, Real Estate, Digital Art, and Advertisement Space categories and the platform shines with many more features offered both to client projects (legal, tech, economics, and network support) and to launchpad holders (voting rights, access to seed and private round sales, unique anti-bot protocol, regular MVP burns, and more).", 
            "idoType": "IDO", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/1-2.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/2-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/3-2.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/4-2.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/5-2.png", 
            "website": "https://www.metaverse-lab.net/", 
            "twitter": "https://twitter.com/LabMetaverse", 
            "telegram": "https://t.co/XztaJRuIL2", 
            "chainName": "BSC", 
            "startTime": "5PM 02/13/2022 UTC", 
            "endTime": "8PM 02/13/2022 UTC",
	    "idoTokenSymbol":"MVP"
        },
	{
            "poolId": 4, 
            "name": "Metaverse Lab FCFS", 
            "nameKey": " MVP", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/metaverselab-IDO-img.png", 
            "subName": "$MVP", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.016, 
            "launchTime": 1644858000000, 
            "vesting": "15% at TGE, 20% monthly vesting (5% on last vesting)", 
            "claimRatio": 9.375, 
            "description": "Metaverse Lab is World’s First All-in-One Metaverse Launchpad: Deflationary, Reflective, Multi-chain & Multi-asset Launchpad for the most professional Metaverse based projects.", 
            "about": "Designed to be a One-Stop Launchpad for the top quality Metaverse projects, Metaverse Lab Launchpad’s domain of future projects include NFT, Gaming, Real Estate, Digital Art, and Advertisement Space categories and the platform shines with many more features offered both to client projects (legal, tech, economics, and network support) and to launchpad holders (voting rights, access to seed and private round sales, unique anti-bot protocol, regular MVP burns, and more).", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/1-2.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/2-2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/3-2.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/4-2.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/metaverse/5-2.png", 
            "website": "https://www.metaverse-lab.net/", 
            "twitter": "https://twitter.com/LabMetaverse", 
            "telegram": "https://t.co/XztaJRuIL2", 
            "chainName": "BSC", 
            "startTime": "5PM 02/13/2022 UTC", 
            "endTime": "8PM 02/13/2022 UTC",
	    "idoTokenSymbol":"MVP"
        },
	{
           "poolId": 5, 
            "name": "DeFiYield App", 
            "nameKey": "DEFI", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/avatar.png", 
            "subName": "$DEFI", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.24, 
            "launchTime": 1645106400000, 
            "vesting": "9 months linear vesting", 
            "claimRatio": 0, 
            "description": "Retail investors want access to high yielding products found in DeFi space; Stable coins, Yield farming, Staking, any combination of tools available. However, these tools require significant time, effort and expertise to optimally utilize. Most people need an easier solution for their basic financial needs, this is where the DeFiYield App comes to play.", 
            "about": "DeFiYield is your Gateway to DeFi, thanks to its innovative suite asset management tools and other first-class features offered to users to help them navigate in the space of blockchain which is the most explosively growing, and thus the most risky and confusing market and technology of the recent decades.", 
            "idoType": "Flash Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/3.jpg", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/4.jpg", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/5.png", 
            "website": "https://defiyield.app/", 
            "twitter": "https://twitter.com/defiyield_app", 
            "telegram": "https://t.me/defiyield_app", 
            "chainName": "BSC", 
            "startTime": "2PM 02/17/2022 UTC", 
            "endTime": "8PM 02/17/2022 UTC",
	    "idoTokenSymbol":"DEFI"
        },
	{
           "poolId": 7, 
            "name": "DeFiYield FCFS#1", 
            "nameKey": "  DEFI", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/avatar.png", 
            "subName": "$DEFI", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.24, 
            "launchTime": 1645549200000, 
            "vesting": "9 months linear vesting", 
            "claimRatio": 0, 
            "description": "Retail investors want access to high yielding products found in DeFi space; Stable coins, Yield farming, Staking, any combination of tools available. However, these tools require significant time, effort and expertise to optimally utilize. Most people need an easier solution for their basic financial needs, this is where the DeFiYield App comes to play.", 
            "about": "DeFiYield is your Gateway to DeFi, thanks to its innovative suite asset management tools and other first-class features offered to users to help them navigate in the space of blockchain which is the most explosively growing, and thus the most risky and confusing market and technology of the recent decades.", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/3.jpg", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/4.jpg", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/5.png", 
            "website": "https://defiyield.app/", 
            "twitter": "https://twitter.com/defiyield_app", 
            "telegram": "https://t.me/defiyield_app", 
            "chainName": "BSC", 
            "startTime": "5PM 02/22/2022 UTC", 
            "endTime": "8PM 02/22/2022 UTC",
	    "idoTokenSymbol":"DEFI"
        },
	{
           "poolId": 10, 
            "name": "DeFiYield FCFS #2", 
            "nameKey": "  DEFI  ", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/avatar.png", 
            "subName": "$DEFI", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.24, 
            "launchTime": 1645549200000, 
            "vesting": "9 months linear vesting", 
            "claimRatio": 0, 
            "description": "Retail investors want access to high yielding products found in DeFi space. Stable coins, Yield farming, Staking, any combination of tools available. However, these tools require significant time, effort and expertise to optimally utilize. Most people need an easier solution for their basic financial needs, this is where the DeFiYield App comes to play.", 
            "about": "DeFiYield is your Gateway to DeFi, thanks to its innovative suite asset management tools and other first-class features offered to users to help them navigate in the space of blockchain which is the most explosively growing, and thus the most risky and confusing market and technology of the recent decades.", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/3.jpg", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/4.jpg", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/defiyield/5.png", 
            "website": "https://defiyield.app/", 
            "twitter": "https://twitter.com/defiyield_app", 
            "telegram": "https://t.me/defiyield_app", 
            "chainName": "BSC", 
            "startTime": "5PM 02/22/2022 UTC", 
            "endTime": "8PM 02/22/2022 UTC",
	    "idoTokenSymbol":"DEFI"
        },
	{
           "poolId": 11, 
            "name": "Adroverse", 
            "nameKey": "ADR", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/logo.png", 
            "subName": "$ADR", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.016, 
            "launchTime": 1645884000000, 
            "vesting": "7.5% at listing, 2 months cliff, 15 months linear distribution", 
            "claimRatio": 4.6875, 
            "description": "Adroverse — Metaverse of Heroes is an evolving metaverse with a large variety of features and extensive domain with the long-term vision of becoming a decentralized metaverse based on multi-chain environment (BSC, Solana, IPFS, Chainlink…) where people can have fun playing blockchain and NFT games, socialize, and earn cryptocurrency & NFT assets at the same time.", 
            "about": "Adroverse metaverse is designed to continuously evolve in a decentralized fashion, with a strong mission to create a crowd economy model with its MetaFi platform at its core which will power the whole metaverse economy. With such a design, the project boldly differentiates from pseudo-metaverse projects that patch together some games and cryptocurrency funding scheme to ride the hype. The project is keen on its vision of building a massively crowded democratic and decentralized metaverse.", 
            "idoType": "Flash Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/5.png", 
            "website": "https://adroverse.io/", 
            "twitter": "https://twitter.com/adroverse", 
            "telegram": "https://t.me/adroversegroup", 
            "chainName": "BSC", 
            "startTime": "2PM 02/26/2022 UTC", 
            "endTime": "8PM 02/26/2022 UTC",
	    "idoTokenSymbol":"ADR"
        },
	{
           "poolId": 12, 
            "name": "Adroverse", 
            "nameKey": " ADR", 
            "chainId": 56, 
            "type": "IGO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/logo.png", 
            "subName": "$ADR", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.016, 
            "launchTime": 1645970400000, 
            "vesting": "7.5% at listing, 2 months cliff, 15 months linear distribution", 
            "claimRatio": 4.6875, 
            "description": "Adroverse — Metaverse of Heroes is an evolving metaverse with a large variety of features and extensive domain with the long-term vision of becoming a decentralized metaverse based on multi-chain environment (BSC, Solana, IPFS, Chainlink…) where people can have fun playing blockchain and NFT games, socialize, and earn cryptocurrency & NFT assets at the same time.", 
            "about": "Adroverse metaverse is designed to continuously evolve in a decentralized fashion, with a strong mission to create a crowd economy model with its MetaFi platform at its core which will power the whole metaverse economy. With such a design, the project boldly differentiates from pseudo-metaverse projects that patch together some games and cryptocurrency funding scheme to ride the hype. The project is keen on its vision of building a massively crowded democratic and decentralized metaverse.", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/adroverse/5.png", 
            "website": "https://adroverse.io/", 
            "twitter": "https://twitter.com/adroverse", 
            "telegram": "https://t.me/adroversegroup", 
            "chainName": "BSC", 
            "startTime": "2PM 02/27/2022 UTC", 
            "endTime": "8PM 02/27/2022 UTC",
	    "idoTokenSymbol":"ADR"
        },
	{
           "poolId": 15, 
            "name": "Okratech Token", 
            "nameKey": "ORT", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/ORTLogo.png", 
            "subName": "$ORT", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.05, 
            "launchTime": 1646402400000, 
            "vesting": "18% at TGE, 20.5% monthly for 4 months.", 
            "claimRatio": 3.6, 
            "description": "Ort is DeFi powered and self–governing DAO designed to act as a revolutionary decentralized and broad platform for freelancing.", 
            "about": "Ort is DeFi powered and self–governing DAO designed to act as a revolutionary decentralized and broad platform for freelancing.", 
            "idoType": "IDO", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/5.png", 
            "website": "https://ortcoin.org/", 
            "twitter": "https://twitter.com/Ortcoin1", 
            "telegram": "https://t.me/icoort", 
            "chainName": "BSC", 
            "startTime": "2PM 03/04/2022 UTC", 
            "endTime": "8PM 03/04/2022 UTC",
	    "idoTokenSymbol":"ORT"
        }, 
        {
           "poolId": 16, 
            "name": "Okratech Token FCFS", 
            "nameKey": " ORT", 
            "chainId": 56, 
            "type": "IDO", 
            "distribution": "Airdrop", 
            "avatar": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/ORTLogo.png", 
            "subName": "$ORT", 
            "claimStarts": 0, 
            "idoTokenPrice": 0.05, 
            "launchTime": 1646470800000, 
            "vesting": "18% at TGE, 20.5% monthly for 4 months.", 
            "claimRatio": 3.6, 
            "description": "Ort is DeFi powered and self–governing DAO designed to act as a revolutionary decentralized and broad platform for freelancing.", 
            "about": "Ort is DeFi powered and self–governing DAO designed to act as a revolutionary decentralized and broad platform for freelancing.", 
            "idoType": "FCFS Sale", 
            "pic1": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/1.png", 
            "pic2": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/2.png", 
            "pic3": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/3.png", 
            "pic4": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/4.png", 
            "pic5": "https://trustfi.s3.ap-southeast-1.amazonaws.com/images/okratech/5.png", 
            "website": "https://ortcoin.org/", 
            "twitter": "https://twitter.com/Ortcoin1", 
            "telegram": "https://t.me/icoort", 
            "chainName": "BSC", 
            "startTime": "9AM 03/05/2022 UTC", 
            "endTime": "1PM 03/05/2022 UTC",
	    "idoTokenSymbol":"ORT"
        }
	
    ], 
    "ETH": [], 
    "polygon": [], 
    "time": "2022-01-12"
}
